.dashboard {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.user-search {
  display: flex;
  align-items: center;
}

.header-options {
  padding: 30px 0;
  margin: 0;

  input {
    width: 400px;
    padding: 5px;
  }

  .search-icon {
    position: relative;
    right: 30px;
  }
}

.new-user {
  text-align: right;
}

.row {
  align-items: center;
}

.table {
  margin: 0 auto;

  tbody {

    th,
    td {
      vertical-align: middle;
    }
  }
}

.table-row:hover {
  background: #f8f8f8 !important;
  cursor: pointer;
}

.paginator {
  text-align: center;
  padding: 10px 0;

  ::ng-deep {
    ul {
      padding-left: 0;
    }
  }
}