<div class="new-user">
  <button class="btn btn-primary" (click)="onCreateNewUser()">Create New User</button>
</div>
<div class="search-bar" style="display: flex;">
  <input placeholder="Search for user..." type="text" [(ngModel)]="userSearch" />
  <button *ngIf="userSearch && userSearch.length > 0" (click)="clearFilter()">Clear Filter</button>
</div>

<div class="table">
  <table class="table" matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="id" scope="col">#</th>
        <th mat-sort-header="first_name" scope="col">First Name</th>
        <th mat-sort-header="last_name" scope="col">Last Name</th>
        <th mat-sort-header="email" scope="col">Email</th>
        <th scope="col">Picture</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let user of userData | userFilter: { id: userSearch, first_name: userSearch, last_name: userSearch, email: userSearch } | paginate: { itemsPerPage: 5, currentPage: p }
        "
        class="table-row"
        (click)="seeDetails(user)"
      >
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td><img src="{{ user.avatar }}" /></td>
        <td>
          <button class="btn btn-primary"><i class="fas fa-edit"></i> Edit</button><button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
