<div *ngIf="user" class="container" style="padding:30px">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <img src={{user.avatar}} alt="profile pic" class="img-responsive">
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>{{user.first_name}} {{user.last_name}}</h1>
      <p>{{user.email}}</p>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <button class="btn btn-danger" (click)="openModal(template)">Delete User</button>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete user</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!deleting">
    <p>Are you sure you want to delete {{user.first_name}} {{user.last_name}}?</p>
    <div class="row">
      <div class="col">
        <button class="btn btn-outline-secondary" (click)="modalRef.hide()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteUser()">Delete</button>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="postStatus===204">
    <p>User deleted successfully.</p>
  </div>
</ng-template>